<div class="modal slide-in-right" style="height: 300px;" ng-controller="transactionCtrl">
   <header class="bar bar-header  bar-dark bar-secondary">
      <button class="button button-clear button-primary" ng-click="close()">Cancel</button>
       
      <h1 class="title">Past Transactions</h1>
      <button class="button button-positive" ng-click="createNew1()">Done</button>
      <!--<button class="button button-positive" ng-click="createNew()">Done</button>-->
   </header>
   <ion-content class="padding has-header">
          
     
      
   </ion-content>
</div>

 
     
     
    